<!DOCTYPE html>
<html>
<head>
  <title>Govuk navigation helpers</title>
  <%= stylesheet_link_tag    "govuk_navigation_helpers/application", media: "all" %>
  <%= javascript_include_tag "govuk_navigation_helpers/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
